:root {
    --primary-color: #ef4b3f;
    --text-color: #000;
    --background-color: #ffffff;
}
 
body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}
 
header,
footer {
    background-color: var(green);
    color: white;
    text-align: center;
    padding: 10px;
}
 
footer {
    font-size: 14px;
}
 
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
}
 
.hero {
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
}
 
.hero img {
    width: 100%;
    height: auto;
}
 
.data,
.weather {
    width: 90%;
    background-color: #ffffff70;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    text-align: center;
}
 
.data h2,
.weather h2 {
    margin-top: 0;
    color: #000;
}
 
.weather-icon {
    display: block;
    margin: 0 auto 10px;
    width: 50px;
    height: 50px;
}
@media screen and (min-width: 500px) {
    header {
        background-color: #000000; /* Black background */
        color: #ffffff; /* White text */
    }